<div class={{@model.[1].colour}}></div>

{{#if @model.[1].colour}}
  <div class="footer">
    <LinkTo class="button-link button-red" @route="red">Red</LinkTo>
    <LinkTo class="button-link button-yellow" @route="red.orange.yellow">Yellow</LinkTo>
  </div>
{{/if}}

{{outlet}}
