<div class={{@model.colour_five}}></div>
<div class="footer">
  <LinkTo class="button-link" @route="pick">Pick Colours</LinkTo>
  <LinkTo class="button-link" @route="start">Home</LinkTo>
</div>
{{outlet}}
