<div class={{@model.[4].colour}}></div>


<div class="footer">
  <LinkTo class="button-link button-green" @route="red.orange.yellow.green">Green</LinkTo>
  <LinkTo class="button-link" @route="start">Home</LinkTo>
</div>


{{outlet}}
