<div class="column-container">
  <LinkTo class="button-link" @route="rainbow.red.orange.yellow.green.blue">Rainbow</LinkTo>
  <LinkTo class="button-link" @route="red">Colour Transition</LinkTo>
  <LinkTo class="button-link" @route="pick">Make Your Colour Wheel</LinkTo>
  <LinkTo class="button-link" @route="pick-shade">Find Your Shades</LinkTo>
</div>
{{outlet}}
